.switch {
	background: #fff;
  border: 1px solid #E5E5E5;
	margin: 0;
	height: 40px;
  width: 40px;
  border-radius: 100%;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background 0.25s ease;
  text-align: left;
}

.switch__inner {
	position: relative;
}

.switch__input {
    appearance: none;
}

.switch.checked .switch__inner::before {
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
    width: 10px;
    top: 20px;
    left: 10px;
}

.switch.checked .switch__inner::before,
.switch.checked .switch__inner::after {
    background: #99BF4C;
    transition: all 0.2s ease;
}

.switch__inner::before {
    height: 1px;
    width: 19px;
    top: 23px;
    left: 14px;
}

.switch__inner::before,
.switch__inner::after {
    position: absolute;
    content: '';
    background: #fff;
    transition: all 0.3s ease;
}

.switch.checked .switch__inner::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 24px;
}

.switch__inner::after {
    width: 1px;
    height: 19px;
    top: 14px;
    left: 23px;
}

/*action*/

.switch .switch__inner::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 19px;
    top: 17px;
    left: 10px;
}

.switch .switch__inner::before,
.switch .switch__inner::after {
    background: #FF0000;
}

.switch .switch__inner::after {
    height: 19px;
    top: 8px;
    left: 19px;
    transform: rotate(45deg);
}