@import './../../variable.scss';

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 66px;
  height: 24px;
  background: $color-main;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 6px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 13px;
}

.on,
.off {
  color: white;
  position: absolute;
  font-size: 14px;
  font-family: $card-font-family;
  font-weight: normal;
}

.on {
  display: none;
  left: 6px;
}

.off {
  right: 6px;
}

.react-switch-checkbox:checked + .react-switch-label .on {
  display: block;
}

.react-switch-checkbox:checked + .react-switch-label .off {
  display: none;
}

.react-switch-label {
  margin: 0;
}
