.styles_overlay__CLSq- {
	z-index: 1030;
}

.react-responsive-modal-closeButton {
	outline: none !important;
}

.modal-body {
	pointer-events: unset;
}

.custom-modal-overlay {
	// position: fixed;
	// top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;
}