@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&Lato:wght@400;700;900&display=swap');
@import './variable.scss';
@import '~bootstrap/scss/bootstrap.scss';

.container-fluid {
  max-width: $containar-fluid-max-width;
}

body {
  color: $body-color;
  font-weight: $body-font-weight;
  font-family: $body-font-family;
  background-color: $body-bg-color;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.btn {
  font-weight: $body-font-weight;
  min-height: 35px;
  &.btn-outline-secondary {
    border-color: $secondary;
    color: $secondary;
  }
  &.btn-outline-primary {
    svg {
      path {
        fill: $blue;
        fill-opacity: 1;
      }
    }
  }
  &:hover {
    color: $white;
    background-color: $blue;
    border-color: $blue;
    svg {
      path {
        fill: $white;
        fill-opacity: 1;
      }
    }
  }
}

.page-content {
  min-height: $page-min-height;
  background-color: $body-bg-color;
}

.pointer {
  cursor: pointer;
}

.header {
  height: $header-height;
  background-color: $white;
  color: $color-secondary;
  font-size: $header-font-size;
  border-bottom: 1px solid #eaf1f9;
  // .divider {
  //   width: 1px;
  //   background: #ffffff;
  //   height: 100%;
  //   opacity: 0.2;
  // }

  &__nav {
    display: flex;
  }

  &__item {
    margin: 0 30px;
  }
}

// || CARDRULE
.card-rule {
  width: 100%;
  padding: 20px;
  color: $color-secondary;
  font-family: $card-font-family;
  font-size: $body-font-size;
  font-weight: $font-weight-normal;

  p {
    margin-bottom: 0;
  }

  .section-top {
    padding-bottom: 12px;
    border-bottom: 1px solid $cardline-color;
    .title {
      font-size: $body-font-size;
    }

    .total {
      color: $color-main;
      font-size: $card-total-font-size;
      font-weight: $font-weight-black;
      font-style: normal;
    }
    .total-percent {
      font-size: $card-total-font-size;
      font-weight: bold;
    }
  }

  .section-bottom {
    padding-top: 16px;
    .subtitle {
      font-size: $body-font-size;
    }

    .before {
      font-size: $header-font-size;
    }
  }

  .success {
    color: $green;
  }
  .danger {
    color: $danger;
  }
}

.custom-calendar {
  &.react-datepicker {
    font-family: $body-font-family;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.12);
    color: $body-color;
  }
  .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker__header {
    .calendar-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 0px 12px 0px;
      color: $body-color;
      .title {
        margin-left: 43px;
        margin-right: 43px;
        font-weight: $font-weight-bold;
        color: $headline-color;
      }
    }
    background-color: $light;
    font-family: $body-font-family;
    border-color: $gray-300;
    padding-top: 0px;
  }
  .react-datepicker__day-names {
    font-weight: $font-weight-bold;
    .react-datepicker__day-name {
      color: $headline-color;
    }
  }
  .calendar-day {
    font-family: $body-font-family;
    font-weight: normal;
    &.react-datepicker__day--selected,
    &.react-datepicker__day--keyboard-selected {
      background-color: $blue;
      font-weight: $font-weight-bold;
    }
    &.react-datepicker__day--outside-month {
      color: $secondary;
    }
  }
}

.sidebar {
  width: $sidebar-width;
  background-color: $white;
  height: 100%;
  box-shadow: $body-box-shadow;
  padding-top: 45px;
  .navigation {
    .navigation-item {
      margin-bottom: 48px;
    }
  }
  .divider {
    border-bottom: 1px solid rgba(0, 37, 80, 0.1);
    margin-bottom: 30px;
  }
}

.card {
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.08);
  .card-title {
    font-weight: $font-weight-bold;
    padding: 24px 20px;
    margin-bottom: 0;
    color: $headline-color;
  }
  .card-footer {
    background-color: $light;
    border-top: none;
    padding: 14px;
  }
}

.link {
  font-weight: $font-weight-bold;
  &:hover {
    color: $blue;
  }
  svg {
    fill: $blue;
  }
  &:hover {
    svg {
      fill: $link-hover;
    }
  }
}

.custom-select-wrapper {
  position: relative;
  .custom-select {
    border: $input-border;
    color: $body-color;
    font-weight: $body-font-weight;
    height: $input-height;
    width: 154px;
    position: relative;
    background: none;
    &:focus {
      box-shadow: none;
    }
  }
  .select-arrows {
    position: absolute;
    right: 16px;
    top: 4px;
  }
}

.input-wrapper {
  max-width: 276px;
  min-width: 154px;
  .form-control {
    background-color: $light;
    border: $input-border;
    font-weight: $body-font-weight;
    color: $body-color;
    height: $input-height;
    &:placeholder {
      color: $secondary;
    }
    &:focus {
      outline: none !important;
      border-color: $blue;
      box-shadow: none;
      background-color: $white;
    }
  }
}

.form-control {
  &.paginate-input {
    width: 35px;
    height: 35px;
    display: inline-block;
    padding: 0px;
    color: $blue;
  }
  &:focus {
    outline: none !important;
    border-color: $blue;
    box-shadow: none;
    background-color: $white;
  }
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.badge {
  padding: 5px 10px;
  font-size: $body-font-size;
  &.badge-success {
    color: $green;
    background-color: $bg-green;
  }
  &.badge-secondary {
    color: $secondary;
    background-color: $bg-secondary;
  }
  &.badge-danger {
    color: $danger;
    background-color: $bg-danger;
  }
}

.profile-info {
  margin-bottom: 100px;
}

.avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

//===============
// SearchInput
//===============
.search-input {
  box-sizing: border-box;
  input {
    background: $white
      url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
      10px center;
    outline: none;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  input[type='search'] {
    // background: $white
    //   url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    //  10px center;
    border: 1px solid $border-color-default;
    background-color: $white;
    border-radius: 6px;
    transition: all 0.5s;
  }

  input::placeholder {
    text-transform: capitalize;
    opacity: 1; /* Firefox */
    color: $color-secondary;
  }

  input[type='search'] {
    width: 40px;
    padding: 10px 0 10px 40px;
    color: transparent;
    font-family: inherit;
    font-size: 100%;
    cursor: pointer;
  }

  //hover
  input[type='search']:hover {
    background-color: $bg-color;
  }

  //focus
  input[type='search']:focus {
    width: $input-width;
    padding-left: 40px;
    color: #3991e2;
    background-color: $bg-color;
    border-color: $input-border-color-focus;
    cursor: auto;
  }

  // .input-search-icon {
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   left: 13px;
  // }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid $border-color-default;
  cursor: pointer;
}

.icon-wrapper:hover {
  background: $bg-color;
}

.buttons-block {
  display: none;
}
