@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap");
@import "./variable.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
  color: $body-color;
  font-weight: $body-font-weight;
  font-family: $body-font-family;
  background-color: $body-bg-color;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.btn {
  font-weight: $body-font-weight;
  min-height: 35px;
  &.btn-outline-secondary {
    border-color: $secondary;
    color: $secondary;
  }
  &.btn-outline-primary {
    svg {
      path {
        fill: $blue;
        fill-opacity: 1;
      }
    }
  }
  &:hover {
    color: $white;
    background-color: $blue;
    border-color: $blue;
    svg {
      path {
        fill: $white;
        fill-opacity: 1;
      }
    }
  }
}

.private-layout {
}

.page-content {
  min-height: $page-min-height;
  background-color: $body-bg-color;
}

.pointer {
  cursor: pointer;
}

.header {
  height: $header-height;
  background-color: $white;
  color: $grey;
  font-size: $header-font-size;
  border-bottom: 1px solid #eaf1f9;
  // .divider {
  //   width: 1px;
  //   background: #ffffff;
  //   height: 100%;
  //   opacity: 0.2;
  // }

  &__nav {
    display: flex;
  }

  &__item {
    margin: 0 30px;
  }
}

.custom-calendar {
  &.react-datepicker {
    font-family: $body-font-family;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.12);
    color: $body-color;
  }
  .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker__header {
    .calendar-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 0px 12px 0px;
      color: $body-color;
      .title {
        margin-left: 43px;
        margin-right: 43px;
        font-weight: $font-weight-bold;
        color: $headline-color;
      }
    }
    background-color: $light;
    font-family: $body-font-family;
    border-color: $gray-300;
    padding-top: 0px;
  }
  .react-datepicker__day-names {
    font-weight: $font-weight-bold;
    .react-datepicker__day-name {
      color: $headline-color;
    }
  }
  .calendar-day {
    font-family: $body-font-family;
    font-weight: normal;
    &.react-datepicker__day--selected,
    &.react-datepicker__day--keyboard-selected {
      background-color: $blue;
      font-weight: $font-weight-bold;
    }
    &.react-datepicker__day--outside-month {
      color: $secondary;
    }
  }
}

.sidebar {
  width: $sidebar-width;
  background-color: $white;
  height: 100%;
  box-shadow: $body-box-shadow;
  padding-top: 45px;
  .navigation {
    .navigation-item {
      margin-bottom: 48px;
    }
  }
  .divider {
    border-bottom: 1px solid rgba(0, 37, 80, 0.1);
    margin-bottom: 30px;
  }
}

.card {
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.08);
  .card-title {
    font-weight: $font-weight-bold;
    padding: 24px 20px;
    margin-bottom: 0;
    color: $headline-color;
  }
  .card-body {
  }
  .card-footer {
    background-color: $light;
    border-top: none;
    padding: 14px;
  }
}

.link {
  font-weight: $font-weight-bold;
  &:hover {
    color: $blue;
  }
  svg {
    fill: $blue;
  }
  &:hover {
    svg {
      fill: $link-hover;
    }
  }
}

.custom-select-wrapper {
  position: relative;
  .custom-select {
    border: $input-border;
    color: $body-color;
    font-weight: $body-font-weight;
    height: $input-height;
    width: 154px;
    position: relative;
    background: none;
    &:focus {
      box-shadow: none;
    }
  }
  .select-arrows {
    position: absolute;
    right: 16px;
    top: 4px;
  }
}

.input-wrapper {
  max-width: 276px;
  min-width: 154px;
  .form-control {
    background-color: $light;
    border: $input-border;
    font-weight: $body-font-weight;
    color: $body-color;
    height: $input-height;
    &:placeholder {
      color: $secondary;
    }
    &:focus {
      outline: none !important;
      border-color: $blue;
      box-shadow: none;
      background-color: $white;
    }
  }
}

.form-control {
  &.paginate-input {
    width: 35px;
    height: 35px;
    display: inline-block;
    padding: 0px;
    color: $blue;
  }
  &:focus {
    outline: none !important;
    border-color: $blue;
    box-shadow: none;
    background-color: $white;
  }
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.badge {
  padding: 5px 10px;
  font-size: $body-font-size;
  &.badge-success {
    color: $green;
    background-color: $bg-green;
  }
  &.badge-secondary {
    color: $secondary;
    background-color: $bg-secondary;
  }
  &.badge-danger {
    color: $danger;
    background-color: $bg-danger;
  }
}

.profile-info {
  margin-bottom: 100px;
}

.avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
