$header-height: 70px;
$page-min-height: calc(100vh - #{$header-height});
$sidebar-width: 80px;
$containar-fluid-max-width: 1440px;

$light: #f9fafd;
$bg-secondary: rgba(150, 150, 150, 0.2);
$secondary: rgba(0, 37, 80, 0.4);
$blue: #009ee8;

$headline-color: #002550;
$headline-size: 26;
$gray-200: #f9fafd;
$gray-300: #eef2f9;
$dark-blue: #002550;
$body-color: rgba(25, 44, 67, 0.8);
$body-font-weight: 600;
$link-hover: #0056b3;
$body-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.08);
$font-weight-bold: bold;
$table-thead-bg: rgb(247, 251, 254);
$table-thead-color: rgba(0, 37, 80, 0.4);
$font-size-base: 14;
$body-font-family: 'Nunito Sans', sans-serif;
$body-bg-color: #f9fafd;
$input-border: 1px solid rgba(0, 37, 80, 0.1);
$input-height: 32px;
$header-font-size: 18px;
$body-font-size: 14px;

//Use
$white: #fff;
$green: #00c165;
$bg-green: #ebf9f0;
$danger: #f64d4d;
$bg-danger: #ffe0e0;

//CardRule style
$color-main: #072c3b;
$color-secondary: #607990;
$card-total-font-size: 20px;
$font-weight-normal: 400;
$font-weight-black: 900;
$card-font-family: 'Lato', sans-serif;
$cardline-color: #eaf1f9;

//SearchInput
$bg-color: #f8fbfe;
$border-color-default: #d6dce3;
$input-border-color-focus: #093c50;
$input-width: 350px;


